@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-primary: #4A90E2;
  --color-secondary: #7ED3B2;
  --color-accent: #FFB74D;
  --color-background: #F5F7FA;
  --color-text-main: #2C3E50;
  --font-sans: var(--font-vazir);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-family: var(--font-vazir), sans-serif;
}
